body{
    position: relative;
    min-height: 100vh;
}

#container-busca{
    background-image: url('../image/festivais-de-musica.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 420px;
    padding: 50px;
    text-align: center;
    color: #F2A340;
    margin-bottom: 2%;
}
#container-busca form{
    margin: 0 auto;
    width: 50%;
}

